{% extends 'purbeurre/base.html'%}
{% block title%}{{ page_title }}{% endblock %}
{% load i18n %}

{% block content %}

<section style="background-image: url('{{img}}');" class="page-section bg-dark text-white">
    <div class="col-lg-10 mx-auto text-center">
      <!-- <h3 class="section-heading text-white">{{ title }}</h3> -->
  </section>


<section class="page-section">
    <div class="container">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{% trans "Mise à jour de votre mot de votre passe" %} !</legend>
                    <div class="row h-100 align-items-center justify-content-center text-center">
                        <div class="col-lg-6 col-md-12">
                            {{ form.as_p }}
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="row h-100 align-items-center justify-content-center text-center">
                        <button class="btn btn-primary js-scroll-trigger" type="submit">{% trans "Mettre à jour" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}