{% extends 'purbeurre/base.html'%}
{% load i18n %}


{% block content %}

<section style="background-image: url('{{img}}');" class="page-section bg-dark text-white">
    <div class="col-lg-10 mx-auto text-center">
      <!-- <h3 class="section-heading text-white">{{ title }}</h3> -->
  </section>

<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <p class="text-black mb-5">
                    {% trans "Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez entré. Vous devriez les recevoir sous peu" %}
                  </p>
                  <p class="text-black mb-5">
                    {% trans "Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam" %}
                  </p>
            </div>
        </div>
        
    </div>
  </section>

{% endblock content %}



