{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<section style="background-image: url('{{img}}');" class="page-section bg-dark text-white">
    <div class="col-lg-10 mx-auto text-center">
      <!-- <h3 class="section-heading text-white">{{ title }}</h3> -->
  </section>


  <section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                {% if validlink %}
                <h3>{% trans "Mise à jour de votre mot de passe" %}</h3>
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary js-scroll-trigger" type="submit">Mettre à jour</button>
                </form>
                  {% else %}
                <p>{% trans "Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé. Veuillez demander une nouvelle réinitialisation de mot de passe" %}</p>
                 {% endif %}
            </div>
        </div>
        
    </div>
  </section>
{% endblock %}

