{% load i18n %}

<section class="page-section" id="contact">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="mt-0">{% trans "Contactez nous" %} !</h2>
              <hr class="divider my-4" />
              <p class="text-muted mb-5">{% trans "Nous serons ravis de vous répondre" %}! !</p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
              <div>+33 (555) 123-4567</div>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
              <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
              <a class="d-block" href="mailto:your-email@your-domain.com">mail@purbeurre.com</a>
          </div>
      </div>
  </div>
</section>
