{% extends 'purbeurre/base.html'  %}
{% load i18n %}

{% load static %}

{% block title%}{{ page_title }}{% endblock %}

{% block content %}

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-white">
          {% trans "Du gras, oui, mais de qualité" %} !
        </h1>
      </div>
      <div class="col-lg-8 mx-auto">
        <h2 class="mb-5 text-white">{% trans "Trouvez un produit de substitution pour ceux que vous consommez tous les jours" %}</h2>
        <form action="{% url 'purbeurre:search' %}" method="get" accept-charset="utf-8">
          <input type="text" name="query" class="form-control" placeholder="{% trans "Produit à susbstituer" %} »..." name="query" id="input_product">
          <button class="btn mt-4 btn-primary" type="submit" id= "submit_button"> {% trans "Chercher" %} </button>
        </form>
      </div>
    </div>
  </div>
  
</header>

<!-- Services-->
<section class="page-section bg-dark text-white" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"> Colette et Rémy</h2>
        <hr class="light my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <h4 class="col-lg-12 col-md-6 text-center"> {% trans "Le mot des fondateurs" %}</h4>
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <img src="{% static 'purbeurre/img/colette.png' %}" height="150" alt="Photo de Colette" >
          <h3 class="mb-3">Colette</h3>
          <p class="text-faded mb-4 text-justify">{% trans "Nous aimons tout manger, surtout en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement. Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte, surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits aseptisés que j'avais l'habitude d'acheter par de bons produits du terroir. Et souvent pour le même prix" %} !</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <img src="{% static 'purbeurre/img/remy.png' %}" height="150" alt="Photo de Rémy">
          <h3 class="mb-3">Rémy</h3>
          <p class="text-faded mb-4 text-justify"> {% trans "Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader, surtout dans les caves et les cuisines. Je connaissais par coeur le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus. Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment plus sain, je savais tout de suite où le trouver. L'idée de Pur Beurre était née !" %}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  end of Services-->


{% include 'purbeurre/contact.html' %}


{% endblock %}