{% extends 'purbeurre/base.html'%}
{% load i18n %}

{% block title%}{{ page_title }}{% endblock %}

{% block content %}

<!-- {% include 'purbeurre/header.html' with title=title img=img %}  -->

<section class="page-section bg-dark text-white">
    <div class="container">
        <div class="row main">
            <div class="main-center col-sm-12">
                <h4 class="text-center mb-5"> {% trans "Créez votre Compte" %} </h4>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                        {{ field.label_tag }}{{ field }}
                            </div>
                        </div>
                        <div class="mx-auto text-center">
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="text-center mt-4">
                        <div class="form-group d-inline">
                           <button type="submit" class="btn btn-primary"> {% trans "S'enregistrer" %} </button>
                        </div>
                        <br>
                        <br>
                        <!-- <div class="text-center d-inline">
                            <a href="{% url 'users:login' %}"> <button  class="btn btn-primary" style="margin:10px;">  Se connecter </button></a>
                        </div> -->
                </form>
                <div class="text-center d-inline">
                    <small class="text-muted">
                       {% trans "Déjà un compte" %} ? <a class="ml-2" href="{% url 'users:login' %}">{% trans "Connexion" %}</a>
                    </small>
                </div>    
                      </div>
            </div>
        </div>
    </div>
</section>




{% endblock content %}